<!DOCTYPE html>
<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestionnaire de plantes</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- JavaScript -->
<script defer src="/js/bootstrap.bundle.min.js"></script>

</head>
<body>


<!-- Menu Horizontal avec dropdown en version mobile -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/collection}">Collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/wishlist}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/galerie}">Galerie</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
