<div th:replace="fragments/header::header"></div>
<div class="container-ajout">
    <div class="container">
  
            <div class="modal-body">
              <!--Formulaire d'ajout de plante-->
              <form method="post">
  
              <label for="inputNom" class="form-label">Nom</label>
              <input type="text" id="inputNom" class="form-control" name="nom">
  
              <label for="inputOrigine" class="form-label">Origine</label>        
              <input type="text" id="inputOrigine" class="form-control" name="origine" >
  
              <label for="inputDimension" class="form-label">Dimension</label>
              <input type="text" id="inputDimension" class="form-control" name="dimension">
  
              <label for="inputRusticite" class="form-label">Rusticité</label>
              <input type="text" id="inputRusticite" class="form-control" name="rusticite">
  
              <label for="inputFloraison" class="form-label">Floraison</label>
              <input type="text" id="inputFloraison" class="form-control" name="floraison">
  
              <label for="inputExposition" class="form-label">Taux d'exposition</label>
              <input type="text" id="inputExposition" class="form-control" name="exposition">
  
              <label for="inputTerrain" class="form-label">Terrain</label>
              <input type="text" id="inputTerrain" class="form-control" name="terrain">
  
              <label for="inputLiens" class="form-label">Liens</label>
              <input type="text" id="inputLiens" class="form-control" name="liens">
  
              <label for="inputImages" class="form-label">Images</label>
              <input class="form-control" type="file" id="inputImages" multiple>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
              <button type="submit" class="btn btn-warning">Ajouter</button>
            </div>
            </form>
    </div>
</div>
    