<div th:replace="fragments/header::header"></div>

<div class="container-collection">

<div class="container">
    <div class="row">
      <div class="d-flex col-md-6">
        <form method="get">
          <button type="submit" name="btnFilterId" 
            class="m-3 btn btn-dark">Id</button>
        </form>
        <form method="get">
          <button type="submit" name="btnFilterNom"  class="m-3 btn btn-dark">Nom</button>
        </form>
        <form method="get">
          <button type="submit" name="btnFilterOrigine"
            class="m-3 btn btn-dark btn-filter-users">Origine</button>
        </form>
        <form method="get">
          <button type="submit" name="btnFilterDimension" class="m-3 btn btn-dark">Dimensions</button>
        </form>
      </div>
      <div class="d-flex col-md-6 justify-content-end">
        <form method="get">
          <div class="input-group m-3 input-group-search">
            <input type="text" class="form-control input-filter-users-search" placeholder="Recherche"
              aria-label="Recherche" aria-describedby="btnSearch" id="inputSearch"
              name="keyword" > 
            <button type="submit" name="btnSearch" class=" btn btn-dark"
              id="btnSearch">Rechercher</button>
          </div>
        </form>
       <!-- Button vers page ajout plante-->
      
    
     <form>
      <a type="button" class="m-3 btn btn-warning" th:href="@{/ajout-plante}" >Ajouter</a> 
    </form>
  
      </div>
    </div>

</div>
    
   <!--Table 1-->
    <div class="container">
        <h2 class="mb-5 text-center">Collection</h2>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Origine</th>
                <th scope="col">Dimension</th>
                <th scope="col">Détails</th>
               
              </tr>
            </thead>
            <tbody>
              <tr scope="row" class="align-middle" th:each="plante : ${listePlantes}" >
                <td th:text="${plante.id_plante}"></td>
                <td th:text="${plante.nom}"></td>
                <td th:text="${plante.origine}"></td>
                <td th:text="${plante.dimension}"></td>
                <td>
                    <a type="button" class="btn btn-light btn-lg" th:href="@{/details-plante}">Voir</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>



</div>