<!DOCTYPE html>
<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestionnaire de plantes</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/home.css">

<!-- JavaScript -->
<script defer src="/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<div class="home">
    <!--Landing image-->
    <div class="landing-image h-12">
    </div>

<!-- Menu Horizontal avec dropdown en version mobile -->
<header class="media-query-hidden h-8">
 
    <nav class="navbar navbar-expand-lg h-100">
      <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/collection}">Collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/wishlist}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/galerie}">Galerie</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
  </header>

    <!-- Choix des catégories-->    
    
      
        <div class="row h-40">

            <!--Collection-->
            <div class="col-md-6 pe-0">
                <div class="collection d-flex align-items-center justify-content-center">
                    <a type="button" class="btn btn-light btn-lg" th:href="@{/collection}">Collection</a>
                    
                </div>
            </div>

            <!--Wishlist-->
            <div class="col-md-6 ps-0">
                <div class="wishlist d-flex align-items-center justify-content-center">
                <a type="button" class="btn btn-light btn-lg " th:href="@{/wishlist}">Wishlist</a>
                    
                </div>
            </div>  

        </div>
      
        <!--Galerie-->
       
            <div class="galerie h-40 d-flex align-items-center justify-content-center">
            <a type="button" class="btn btn-light btn-lg " th:href="@{/galerie}">Galerie</a>
            </div>
                
       
        
   
</div>