.container-collection{
    padding-top:7%;
    height:100vh;
    color:#2F3E46;
    background-color: #CAD2C5;

}


.btn{
	font-size:18px !important;
}

.input-group-search {
    width: 15vw !important;
}



table .btn{
    font-size:14px !important;
}

table{
    overflow:auto;
    
}



