.container-details{
    padding-top:6%;
    height:100vh;
    color:#2F3E46;
    background-color: #CAD2C5;
    overflow:hidden;
}


.onglets{
  height:70vh;
}

/* couleur des onglets */

.nav-tabs .nav-item .nav-link {
    background-color: #354F52;
    color: #FFF;
  }

  /* onglet actif */
  
  .nav-tabs .nav-item .nav-link.active {
    color:#FFF;
    background-color: #2F3E46;
    border-color:#354F52;
  }

  .nav-tabs .nav-item .nav-link:hover {
    color: #fff !important;
    border-color:#84A98C;
    
  }

/* bordure du content */

  .tab-content {
    border: 0.5px solid #354F52;
    height:35vh;
  }

  
  
  /* background du content */

   .tab-content .tab-pane {
    padding-top:1.25rem;
    background-color: #84A98C;
    background-size:100%;
    color: #2F3E46;
    min-height: 200px;
    height: auto;
    padding-bottom: 1.2rem;
  }  

  /* Carousel images */
  #carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 40vh;
    overflow: hidden;
  }