.container-galerie{
    padding-top:6%;
    height:100vh;
    color:#2F3E46;
    background-color: #CAD2C5;
    overflow:hidden;
}

.margin-row {
    margin: 15px;
    max-height: 33vh;
  }

  .col-custom img{
    max-width:33vw;
    height:300px;
    width:300px;
    object-fit: cover;
    object-position: center;
  }

