.home{
    height:100vh;
    color:#2F3E46;
    background-color: #CAD2C5;
    overflow:hidden;
}

@media screen and (max-width:991px) {

    .media-query-hidden{
        display:none;
    }
    
}


.h-8{
    height:8%;
}
/* Ma navbar  */
nav {
    background: #52796F;
    font-size:24px !important;
}

.navbar-toggler {
    color: white;
}

header a,
.nav-link {
    color: #CAD2C5 !important;
}

header a:hover,
.nav-link:hover {
    color: #2F3E46 !important;


}

header .nav-link:focus {
    color: #2F3E46   !important;
}


.btn{
    color:#CAD2C5;
    background-color: #52796F;
    font-size:24px;
    border-radius:0px;
}


.btn:active,
.btn:target,
.btn:focus,
.btn:hover{
    color:#52796F !important;
    background-color: #CAD2C5 !important;
    border: solid 1px #52796F !important;
    outline:#52796F;
    box-shadow: #52796F;
}

.h-12{
    height:12%;
}

.landing-image{
    background-image: url('/img/homepage/frangipanier3-paysage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.h-40{
    height:40%;
}

.collection{
	height:100%;
    background-image: url('/img/homepage/aloe-vera.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.wishlist{
	height:100%;
    background-image: url('/img/homepage/rainy-plante-filter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.galerie{
    
    background-image: url('/img/homepage/fougere5.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
}

