/* Ma navbar  */
nav {
    background: #52796F;
    font-size:24px !important;
}

.navbar-toggler {
    color: white;
}

header a,
.nav-link {
    color: #CAD2C5 !important;
}

header a:hover,
.nav-link:hover {
    color: #2F3E46 !important;
}

header .nav-link:focus {
    color: #2F3E46   !important;
}



/* Fin Navbar */


/* Input bootstrap */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
.uneditable-input:focus {   
  border-color: #52796F;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #52796F;
  outline: 0 none;
}