/* Ma navbar  */
nav {
    background: #52796F;
    font-size:24px !important;
}

.navbar-toggler {
    color: white;
}

header a,
.nav-link {
    color: #CAD2C5 !important;
}

header a:hover,
.nav-link:hover {
    color: #2F3E46 !important;
}

header .nav-link:focus {
    color: #2F3E46   !important;
}



/* Fin Navbar */